{% extends "base/base.html" %}

{% block body %}

    <form action="." method="post">
        {% csrf_token %}
        <label for="lusuario">Usuario:</label><br>
        <input type="text" id="usuario" name="usuario"><br>
        <label for="lpassword">Contraseña:</label><br>
        <input type="password" id="password" name="password"><br>
        <button type="submit">
            Iniciar sesión
        </button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}
